#gf_001 {

	#stacked_001 {width:100%; float:left; color:#666; position:relative;}

	/*CHARTS*/
	.rowBar {width:100%; float:left; margin-bottom:.75em;}
		.concept {width:100%; float:left; margin-bottom:.25em; }
		.complete_bar {width:100%; float:left; height:35px; }

		.portion {display: inline; float:left; height:24px; width:10%; background:#EEE;}	
			.portion span {padding:3px 0; margin-left:5px; display:inline; float:left; color:#FFF; text-shadow:0 0 2px #666;}
			.portion:hover {cursor:pointer;}

	/*TOOLTIP*/		
	#tag_001 {position:absolute; padding:0.5em 1em; background:#FFF; border:1px solid #CCC; pointer-events:none;}
		.category {font-size: .8em;}
		.valueNum {font-weight:bold; font-size: .8em;}

	/*KEY*/
	#key_001 {width:100%; float:left; margin-bottom:.7em;}
		.keyel_001 {display:inline; float:left;}
			.keysq_001{ padding:0.3em 0.5em;
				span {color:#FFF; text-shadow:0 0 2px #666; font-size:11px;}
			}



	@media only screen and (min-width: 600px) and (max-width: 900px) {

	}

	@media only screen and (max-width: 600px) {

	}
	
}
