.stretch:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.stretch {
  display: inline-block; }

.stretch {
  display: block; }

* html .stretch {
  height: 1px; }

#gf_001 {
  float: left;
  width: 100%;
  margin: 1em auto;
  position: relative;
  font-size: 13px;
  font-family: "Pragmatica-web", Helvetica, Arial, sans-serif; }
  #gf_001 img {
    width: 100%; }
  #gf_001 .grfxhead {
    width: 100%;
    margin-bottom: .3em;
    font-size: 24px;
    float: left;
    font-family: "Chronicle Deck 6r", Georgia, serif;
    font-weight: bold; }
  #gf_001 .grfxintro {
    width: 100%;
    margin-bottom: .7em;
    font-size: 15px;
    letter-spacing: 0.003em;
    line-height: 1.428;
    float: left;
    max-width: 650px; }
  #gf_001 .grfxcontainer {
    width: 100%;
    float: left;
    position: relative;
    margin: 0.5em 0; }
  #gf_001 .source {
    color: #999;
    text-transform: uppercase;
    font-size: 11px;
    width: 100%;
    float: left;
    margin-top: 0.75em;
    margin-bottom: 2.5em; }

#gf_001 {
  /*CHARTS*/
  /*TOOLTIP*/
  /*KEY*/ }
  #gf_001 #stacked_001 {
    width: 100%;
    float: left;
    color: #666;
    position: relative; }
  #gf_001 .rowBar {
    width: 100%;
    float: left;
    margin-bottom: .75em; }
  #gf_001 .concept {
    width: 100%;
    float: left;
    margin-bottom: .25em; }
  #gf_001 .complete_bar {
    width: 100%;
    float: left;
    height: 35px; }
  #gf_001 .portion {
    display: inline;
    float: left;
    height: 24px;
    width: 10%;
    background: #EEE; }
  #gf_001 .portion span {
    padding: 3px 0;
    margin-left: 5px;
    display: inline;
    float: left;
    color: #FFF;
    text-shadow: 0 0 2px #666; }
  #gf_001 .portion:hover {
    cursor: pointer; }
  #gf_001 #tag_001 {
    position: absolute;
    padding: 0.5em 1em;
    background: #FFF;
    border: 1px solid #CCC;
    pointer-events: none; }
  #gf_001 .category {
    font-size: .8em; }
  #gf_001 .valueNum {
    font-weight: bold;
    font-size: .8em; }
  #gf_001 #key_001 {
    width: 100%;
    float: left;
    margin-bottom: .7em; }
  #gf_001 .keyel_001 {
    display: inline;
    float: left; }
  #gf_001 .keysq_001 {
    padding: 0.3em 0.5em; }
    #gf_001 .keysq_001 span {
      color: #FFF;
      text-shadow: 0 0 2px #666;
      font-size: 11px; }
