<!-- NO COMMENT IF CINEMATIC -->
<!-- <div class="cinematic-element fullsize-element ">
<div class="aspect-ratio-wrapper sixteennine"> -->

<!-- NO COMMENT IF MEDIUM -->
<!-- <div class="fullsize-element"> -->
	<!-- <div class="media_medium--container container"> -->

		<div id="gf_001">

			<div class="grfxhead">Graphic headline</div>
			<div class="grfxintro">Little intro for the graphic. Both headline and intro can be commented or deleted if they're not needed.</div>

			<div id="key_001"></div>

			<div class="grfxcontainer stretch">
				<div id="stacked_001"></div>
			</div>	

			<div class="source">NG STAFF</br>SOURCE: NATIONAL GEOGRAPHIC</div>

		</div>

<!-- NO COMMENT IF MEDIUM OR CINEMATIC-->
<!-- </div></div> -->
<script src="http://code.jquery.com/jquery-latest.min.js"type="text/javascript"></script>
